
build-novprod/

*.user

*.autosave

ixxat/\.vs/

ixxat/Debug/

ixxat/libixxat/Debug/

ixxat/libixxat/x64/

build-libixxat-Desktop_Qt_5_11_1_MSVC2017_64bit-Debug/

ixxat/libixxat/Release/

ixxat/Release/

delivery/logs/

build-online-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/

novprod\.pro\.user\.4\.9-pre1

*.10-pre1

build-manoab/

modules/

plugins/zebrafx7500/build-zebrafx7500-Desktop_Qt_5_15_2_GCC_64bit-Debug/

build-manolab-gui-Desktop_Qt_5_15_2_GCC_64bit-Debug/

imgui.ini

*.so

plugins/build-zebrafx7500-Desktop_Qt_5_15_2_GCC_64bit-Debug/
